* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background-color: transparent;

    border: none;
}

button:hover {
    cursor: pointer;
}

.background-upper {
    height: 15vh;
    width: 100%;

    background-color: #009688;
}

.background-lower {
    height: 85vh;
    width: 100%;

    background-color: #d9dbd3;
}

/* ------- SEZIONE PRINCIPALE ------- */

.main-container {
    width: 80%;
    min-width: 700px;
    height: 95%;

    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

/* ------- SEZIONE PRINCIPALE SINISTRA ------- */

#main-left {
    width: 40%;
    height: 100%;

    /* background-color: white; */
    border-right: 1px solid lightgrey;
}

/* ------- NAV SEZIONE SINISTRA ------- */

nav {
    padding: .5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #eaeaea;
}

.user-data,
.contact-data {
    display: flex;
    align-items: center;

    flex-grow: 1;
}

.container-user-img,
.container-active-contact-img,
.container-bell-icon {
    width: 50px;
    height: 50px;

    margin-right: 0.5rem;

    border-radius: 50%;

    overflow: hidden;
}

.container-user-img img,
.container-active-contact-img img,
.container-contact-img img {
    width: 100%;
}

.container-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-btns button {
    padding: 0 .5rem;

    font-size: 1.5rem;
    color: #b1b1b1;
}

/* ------- CONTENUTO SEZIONE SINISTRA ------- */

/* ------- AVVISO ATTIVAZIONE NOTIFICHE ------- */

.alert-notif {
    padding: 0.7rem;

    display: flex;
    align-items: center;

    background-color: #8edafc;
}

.container-bell-icon{

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
}

.container-bell-icon i {
    font-size: 1.3rem;
    color: #8edafc;
}

.alert-notif-text a {
    color: #555555;
}

/* ------- BARRA DI RICERCA ------- */

.search-bar {
    padding: .5rem;

    display: flex;

    background-color: #fafafa;
}

.search-bar .btn-search {
    padding: .5rem 2rem;

    background-color: white;
    color: #bdbcbe;
    border: 1px solid #e9ebeb;
}

.search-bar input {
    padding: .5rem;

    flex-grow: 1;

    border: 1px solid #e9ebeb;
}

/* ------- LISTA DELLE CHAT ------- */

.container-chats-list {
    height: calc(100% - 190px);

    background-color: white;

    overflow-y: scroll;
}

.chats-list {
    list-style: none;
}

.chat {
    padding: .5rem;

    display: flex;
    justify-content: space-between;

    border-top: 1px solid #e9ebeb;
    background-color: white;
}

.chat:hover {
    background-color: #e9ebeb;
    cursor: pointer;
}

.chat-data {
    display: flex;
    flex-grow: 1;
}

.container-contact-img {
    width: 60px;
    height: 60px;

    margin: 0 1rem;

    border-radius: 50%;

    overflow: hidden;
}

.chat-data-text {
    line-height: 1.2rem;
}

.chat-last-msg,
.last-msg-time {
    font-size: .7rem;
    color: #b1b1b1;
}



/* ------- SEZIONE PRINCIPALE DESTRA ------- */

#main-right {
    width: 60%;
    height: 100%;
}

/* ------- NAV SEZIONE DESTRA ------- */

/* la maggior parte delle classi sono condivise col nav sinistro */

.last-access {
    color: #818181;
}

/* ------- CONTENUTO CHAT SELEZIONATA ------- */

.container-chat-log {
    height: calc(100% - 140px);

    padding: 1rem 7rem;

    background-image: url(img/mine.jpg);   

    overflow-y: scroll;
}

.chat-log {
    display: flex;
    flex-direction: column;

    list-style: none;
}

.container-msg {
    width: 300px;
    margin-bottom: 1rem;
    padding: 1rem 1rem 1.5rem 1rem;

    position: relative;

    border-radius: .5rem;
}

.container-msg.sent {
    align-self: flex-end;

    background-color: #d5f9ba;
}

.container-msg.recived {
    align-self: flex-start;

    background-color: white;
}

.sent-time {
    position: absolute;
    bottom: 5px;
    right: 5px;

    font-size: .7rem;
    color: #b1b1b1;
}

.btn-drop-down {
    display: none;
    position: absolute;
    top: 7px;
    right: 10px;

    font-size: .8rem;
}

.btn-drop-down a {
    color: #b1b1b1;
}

.container-msg:hover .btn-drop-down {
    display: block;
}

.drop-down {
    position: absolute;
    bottom: -15px;
    right: 0;

    font-size: 1rem;
}

.drop-down:hover {
    cursor: pointer;
}

/* ------- SEZIONE SCRITTURA MESSAGGI ------- */

.container-msg-input {
    padding: .7rem 0;

    display: flex;
    align-items: center;

    background-color: #eaeaea;
}

.btn-emoji-selection,
.btn-vocal-msg {
    padding: .5rem 2.5rem;

    color: #6b7376;
}

.btn-emoji-selection i,
.btn-vocal-msg i {
    font-size: 1.5rem;
}

.msg-input {
    padding: 1rem;

    flex-grow: 1;

    border: none;
    border-radius: .3rem;

}

.hide {
    display: none;
}